<header>
  <div class="operations">
    <button title="copy"(click) = "CanvasManager.copyShape()"><div class = "button-text">⧉</div></button>
    <button title="delete" (click) = "CanvasManager.deleteShape()" ><div class = "button-text">🗑</div></button>
    <button title="save" (click)="state(2)" class="save">📥</button>
    <button title="load" (click)="state(1)" class="load">📤</button>
    <button title="undo" (click) = "CanvasManager.undo()" >⟲</button>
    <button title="redo" (click)="CanvasManager.redo()">⟳</button>
  </div>

  <div class="shapes">
  <button title="create square" (click) = "CanvasManager.createShape('square')" ><div class = "button-text">⬜</div></button>
  <button title="create triangle" (click) = "CanvasManager.createShape('triangle')">△</button>
  <button title="create circle" (click) = "CanvasManager.createShape('circle')">⬤</button>
  <button title="create ellipse" (click) = "CanvasManager.createShape('ellipse')">⬯</button>
  <button title="create rectangle" (click) = "CanvasManager.createShape('rectangle')">█</button>
  <button title="create line" (click) = "CanvasManager.createShape('line')">╱</button>
</div>



<div class="colors">
<button (click) ="CanvasManager.colorShape('red')" style="background-color:red ;"></button>
<button (click) ="CanvasManager.colorShape('green')" style="background-color:green ;"></button>
<button (click) ="CanvasManager.colorShape('blue')" style="background-color:blue ;"></button>
<button (click) ="CanvasManager.colorShape('yellow')" style="background-color:yellow ;"></button>
<button (click) ="CanvasManager.colorShape('black')" style="background-color:black ;"></button>
<button (click) ="CanvasManager.colorShape('grey')" style="background-color:grey ;"></button>
<button (click) ="CanvasManager.colorShape('brown')" style="background-color:brown ;"></button>
<button (click) ="CanvasManager.colorShape('cyan')" style="background-color:cyan ;"></button>
<button (click) ="CanvasManager.colorShape('purple')" style="background-color:purple ;"></button>
<button (click) ="CanvasManager.colorShape('pink')" style="background-color:pink ;"></button>
</div>
</header>
<section>
  <div id="container"></div>
</section>
<body>

  <div  [style.display]="load ? 'block' : 'none'" class="input">
  <input type="file" (click)="state(1)" name="file" accept="text/xml , application/JSON" (change)="CanvasManager.Uploadfile($event)"  />
</div>

  <div class = "input" [style.display]="save ? 'block' : 'none'">
  <button (click)="state(2)" class="out2">🞮</button>
 <a  (click)="state(2)"  href="http://localhost:8080/file/save/Xml"  download>as .xml</a>
 <a  (click)="state(2)"  href="http://localhost:8080/file/save/JSON"  download>as .json</a>
  </div>

<div  [style.display]="isSpecial ? 'block' : 'none'" class="uplo">

</div>
</body>
